<div id="<%= dom_id transaction %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= transaction.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Value:</strong>
    <%= transaction.value %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Category:</strong>
    <%= transaction.category %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Kind:</strong>
    <%= transaction.kind %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Frequency:</strong>
    <%= transaction.frequency %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Date:</strong>
    <%= transaction.date %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Profit margin:</strong>
    <%= transaction.profit_margin %>
  </div>
</div>
